<!--begin::Card widget 17-->
<div class="card card-flush h-md-50 mb-5 mb-xl-10">
	<!--begin::Header-->
	<div class="card-header pt-5">
		<!--begin::Title-->
		<div class="card-title d-flex flex-column">
			<!--begin::Info-->
			<div class="d-flex align-items-center">
				<!--begin::Currency-->
				<span class="fs-4 fw-semibold text-gray-400 me-1 align-self-start">maps </span>
				<!--end::Currency-->
				<!--begin::Amount-->
				<!--end::Amount-->
				<!--begin::Badge-->
				<!--end::Badge-->
			</div>
			<!--end::Info-->
			<!--begin::Subtitle-->
			<!--end::Subtitle-->
		</div>
		<!--end::Title-->
	</div>
	<!--end::Header-->
	<!--begin::Card body-->
	
	<!--end::Card body-->
</div>
<!--end::Card widget 17-->
