<!--
Define in dashboards/views.py file
context.update({
    'layout': KTTheme.setLayout('default.html', context),
})
-->
{% extends layout %}

{% load i18n %}

{% block title %}{% translate "Dashboard" %}{% endblock %}

{% block content %}

<!--begin::Row-->
<div class="row g-5 g-xl-10 mb-5 mb-xl-10"id="kt_app_page1">
    <div class="col-md-12 col-lg-12 col-xl-12 col-xxl-2 " >
        <span>
            Summary text
        </span>
    </div>

</div>
<div class="row g-5 g-xl-10 mb-5 mb-xl-10"id="kt_app_page1">
    <!--begin::Col-->
    <div class="col-md-8 col-lg-8 col-xl-8 col-xxl-3 " >
        {% include 'partials/widgets/cards/_widget-200.html' %}

    </div>
    <!--end::Col-->
    <!--begin::Col-->
    <div class="col-md-4 col-lg-4 col-xl-4 col-xxl-3 " >
        {% include 'partials/widgets/cards/_widget-1.html' %}

        
    </div>
    <!--end::Col-->
    <!--begin::Col-->
    
    <!--end::Col-->
</div>
<!--end::Row-->

<!--begin::Row-->

{% endblock content %}