<!--
Define in dashboards/views.py file
context.update({
    'layout': KTTheme.setLayout('default.html', context),
})
-->
{% extends layout %}

{% load i18n %}

{% block title %}{% translate "Dashboard" %}{% endblock %}

{% block content %}

{% load static %}

<!--begin::Row-->
<script>
    window.onload = function() {
        showTabContent('kt_app_header1');
    };
</script>
<div class="row g-5 g-xl-10 mb-5 mb-xl-10"id="kt_app_page1" >
    <div class="col-md-12 col-lg-12 col-xl-12 col-xxl-12 " >
        <span>
            In the second quarter of 2023, 123 partners from the Humanitarian Response Plan provided humanitarian assistance across 61 Local
            Government Areas (LGAs) in Borno, Adamawa, and Yobe States of north-east Nigeria. 8 UN agencies were active in 59 LGAs, 34
            International NGOs were active in 48 LGAs, 68 National NGOs were active in 54 LGAs and 13 Government partners were active in 61 LGAs.
        </span>
    </div>

</div>
<div class="container">
    <div class="row ">
      <div class="col-md-8 col-lg-8 col-xl-8 col-xxl-8 ">
        
          <div class="col-md-12 col-lg-12 col-xl-12 col-xxl-12 ">
              <div class="card-header">
                <h3 class="card-title">Interactive Map</h3>
              </div>
              <div id="map-div">
              {{ map_div | safe }}
              </div>
          </div>

      </div>
      <div class="col-md-4 col-lg-4 col-xl-4 col-xxl-4 ">

        <div class="col-md-12 col-lg-12 col-xl-12 col-xxl-12 ">
          <div class="card-header">
            <h3 class="card-title">Mini Maps</h3>
          </div>
          
      </div>

      </div>


    </div>
</div>
    <!--begin::Col-->
    
    <!--end::Col-->
<!--end::Row-->



<!--begin::Row-->

{% endblock content %}