<!--
Define in dashboards/views.py file
context.update({
    'layout': KTTheme.setLayout('default.html', context),
})
-->
{% extends layout %}

{% load i18n %}

{% block title %}{% translate "Dashboard" %}{% endblock %}

{% block content %}

{% load static %}

<!--begin::Row-->
<script>
    window.onload = function() {
        showTabContent('kt_app_header1');
    };
</script>

<div class="row g-5 g-xl-10 mb-5 mb-xl-10 p-2 ">

<div class=" col-md-12 col-lg-12 col-xl-12 col-xxl-12  ">
  {% if user.is_staff %}
  <div class="row g-xl-10 mb-5 mb-xl-10 ">
    {% for sector in sectors %}
        <div class=" d-flex justify-content-center align-items-center col-3 col-sm-2 col-md-2 col-lg-2 col-xl-2 p-2" >
          <form method="POST" action="#">
            {% csrf_token %}
            <input type="hidden" name="sector_id" value="{{ sector.id }}">
            <button type="submit" class="btn btn-primary "style="width: 10ch; height: 5ch;">{{ sector.acronyms }}</button>
          </form>
          
        </div>
        
    {% endfor %}
  </div>
  {%endif%}
</div>
  <div class="col-md-6 col-lg-6 col-xl-6 col-xxl-6 p-2">
    
      <div class="col-md-12 col-lg-12 col-xl-12 col-xxl-12 ">
        <div class="card-header">
          <h3 class="card-title p-2">Upload a File</h3>

        </div>
        <form class="p-2" method="post" enctype="multipart/form-data">
            {% csrf_token %}
            {{ form.as_p }}
            <button type="submit" class="btn btn-primary">Upload</button>
        </form>
      </div>
      <div class="card-header p-2">
        {% if messages %}
        <ul class="messages">
            {% for message in messages %}
            <li{% if message.tags %} class="{{ message.tags }} card-title"{% endif %}>{{ message }}</li>
            {% endfor %}
        </ul>
        {% endif %}
      </div>

  </div>
  <div class="col-md-6 col-lg-6 col-xl-6 col-xxl-6 p-2">

    

    <div class="col-md-12 col-lg-12 col-xl-12 col-xxl-12 ">
      <div class="card-header">
        <h3 class="card-title"></h3>
      </div>
      <div class="container mt-5">
        <h2>Your Successful File Uploads</h2>
        <table class="table table-striped">
          <thead>
            <tr>
              <th scope="col">File Name</th>
              <th scope="col">Upload Date</th>
              <th scope="col">Actions</th>
            </tr>
          </thead>
          <tbody>
            {% for file in successful_files %}
              <tr>
                <td>{{ file.file.name }}</td>
                <td>{{ file.uploaded_at }}</td>
                <td>
                  <form method="POST" action="{% url 'threews:load' %}">
                    {% csrf_token %}
                    <input type="hidden" name="file_id" value="{{ file.file.name }}">
                    <button type="submit" class="btn btn-primary">Process file</button>
                  </form>
                </td>
              </tr>
            {% empty %}
              <tr>
                <td colspan="3">No successful files uploaded.</td>
              </tr>
            {% endfor %}
          </tbody>
        </table>
      </div> 
    </div>

  </div>


</div>


{% endblock content %}