<!--
Define in dashboards/views.py file
context.update({
    'layout': KTTheme.setLayout('default.html', context),
})
-->
{% extends layout %}

{% load i18n %}

{% block title %}{% translate "Dashboard" %}{% endblock %}

{% block content %}

{% load static %}

<!--begin::Row-->
<script>
    window.onload = function() {
        showTabContent('kt_app_header1');
    };
</script>

<div class="row g-5 g-xl-10 mb-5 mb-xl-10 p-2 ">

    <div class=" col-md-12 col-lg-12 col-xl-12 col-xxl-12  ">

    {% if user.is_active %}
    <div class="row g-6 g-xl-9">
        <h6>{{user.email}}</h6>
        {% for sector in sectors %}
        <div class="col-md-6 col-xl-4">

            <a href="#" class="card border-hover-primary">
                <!--begin::Card header-->
                <div class="card-header border-0 pt-9">
                    <!--begin::Card Title-->
                    <div class="card-title m-0">
                        <!--begin::Avatar-->
                        <div class="symbol symbol-50px w-50px bg-light">
                            <img src={{sector.logo}} alt="image" class="p-3" />
                        </div>
                        <!--end::Avatar-->
                    </div>
                    <div class="card-toolbar">
                        <span class="badge badge-light-primary fw-bold me-auto px-4 py-3">In Progress</span>
                    </div>
                </div>
                <div class="card-body p-9">
                    <!--begin::Name-->
                    <div class="fs-3 fw-bold text-dark">{{ sector.acronyms }}</div>
                    <!--end::Name-->
                    <!--begin::Description-->
                    <p class="text-gray-400 fw-semibold fs-5 mt-1 mb-7">{{ sector.name }}</p>
                    <!--end::Description-->
                    <!--begin::Info-->
                    <div class="d-flex flex-wrap mb-5">
                        <!--begin::Due-->
                        <div class="border border-gray-300 border-dashed rounded min-w-125px py-3 px-4 me-7 mb-3">
                            <div class="fs-6 text-gray-800 fw-bold">Nov 1, 2023</div>
                            <div class="fw-semibold text-gray-400">Open Date</div>
                        </div>
                        <!--end::Due-->
                        <!--begin::Budget-->
                        <div class="border border-gray-300 border-dashed rounded min-w-125px py-3 px-4 mb-3">
                            <div class="fs-6 text-gray-800 fw-bold">Nov 30, 2023</div>
                            <div class="fw-semibold text-gray-400">Due Date</div>
                        </div>
                        <!--end::Budget-->
                    </div>
                </div>
                <!--end:: Card body-->
            </a>
    
        </div>    
        {% endfor %}
    </div>
    {%endif%}
    </div>

</div>


{% endblock content %}