<!--
Define in dashboards/views.py file
context.update({
    'layout': KTTheme.setLayout('default.html', context),
})
-->
{% extends layout %}

{% load i18n %}

{% block title %}{% translate "Dashboard" %}{% endblock %}

{% block content %}

{% load static %}

<!--begin::Row-->
<script>
    window.onload = function() {
        showTabContent('kt_app_header1');
    };
    var storedYear = localStorage.getItem("selectedYear");

  // If a year is stored, set it as the selected year in the dropdown
</script>



<div class="row g-5 g-xl-10 mb-1 mb-xl-2 p-2 ">

<div class=" col-md-12 col-lg-12 col-xl-12 col-xxl-12  ">
    <div>  

        <ul class="nav nav-stretch nav-pills nav-pills-custom nav-pills-active-primary d-flex justify-content-between mb-8 px-5">
            {% for month in months %}
              <li class="nav-item p-0 ms-0">
                <a class="nav-link btn d-flex flex-column flex-center rounded-pill min-w-45px py-4 px-3 btn-active-primary" data-bs-toggle="tab" href="#kt_timeline_widget_3_tab_content_1">
                  <span class="fs-6 fw-bold">{{ month.month_name }}</span>
                  <span class="fs-7" style="color: gray;">{{ month.status }}</span>
                </a>
              </li>
            {% endfor %}
          </ul>
    
      </div>
    

  <div class="row g-xl-5 mb-1 mb-xl-2 ">
        <div class=" d-flex justify-content-center align-items-center col-3 col-sm-2 col-md-2 col-lg-2 col-xl-2 p-2" >
          
            <form method="post" action="{% url 'threews:upload1' %}">
                {% csrf_token %}
                
                <select class="form-select" name="year" id="year" onchange="this.form.submit()">
                    <option value="" {% if not selected_year %}selected{% endif %}>Select a year</option>
                    {% for year in years %}
                        <option value="{{ year.year_number }}" {% if selected_year == year.year_number %}selected{% endif %}>{{ year.year_number }}</option>
                    {% endfor %}
                </select>
            </form>
        
        </div>

        <div>  

        </div>
          
  </div> 

</div>
        

</div>

<div>

    <div class="card-header p-2">
        {% if messages %}
        <ul class="messages">
            {% for message in messages %}
            <li{% if message.tags %} class="{{ message.tags }} card-title"{% endif %}>{{ message }}</li>
            {% endfor %}
        </ul>
        {% endif %}
      </div>

  <form class="form" method="post" action="{% url 'threews:upload1' %}" id="upload_form" enctype="multipart/form-data">
    {% csrf_token %}
    <!-- Hidden file input -->
    <input type="file" name="file" id="file-input" style="display: none;" accept=".csv, .xlsx, .xls">

    <!-- Button to trigger file input selection -->
    <button type="button" class="btn btn-flex btn-primary" onclick="document.getElementById('file-input').click()">
        <i class="ki-duotone ki-folder-up fs-2">
            <span class="path1"></span>
            <span class="path2"></span>
        </i>Upload Files
    </button>

    <!-- Submit the form when a file is selected -->
    <script>
        // Get the file input element
        const fileInput = document.getElementById('file-input');

        // Add an event listener for file selection
        fileInput.addEventListener('change', function () {
            // Trigger the form submission when a file is selected
            document.getElementById('upload_form').submit();
        });
    </script>
</form>
</div>
<div class="container mt-4">
    <h2>DataFrame Display</h2>
    {{ df_html | safe }}
</div>
<div class="tab-pane fade" id="kt_timeline_widget_3_tab_content_1">
    <!--begin::Wrapper-->
    <div class="d-flex align-items-center mb-6">
        <!--begin::Bullet-->
        <span data-kt-element="bullet" class="bullet bullet-vertical d-flex align-items-center min-h-70px mh-100 me-4 bg-success"></span>
        <!--end::Bullet-->
        <!--begin::Info-->
        <div class="flex-grow-1 me-5">
            <!--begin::Time-->
            <div class="text-gray-800 fw-semibold fs-2">{{month.name}}
            <span class="text-gray-400 fw-semibold fs-7">AM</span></div>
            <!--end::Time-->
            <!--begin::Description-->
            <div class="text-gray-700 fw-semibold fs-6">9 Degree Project Estimation Meeting</div>
            <!--end::Description-->
            <!--begin::Link-->
            <div class="text-gray-400 fw-semibold fs-7">Lead by
            <!--begin::Name-->
            <a href="#" class="text-primary opacity-75-hover fw-semibold">Peter Marcus</a>
            <!--end::Name--></div>
            <!--end::Link-->
        </div>
        <!--end::Info-->
        <!--begin::Action-->
        <a href="#" class="btn btn-sm btn-light" data-bs-toggle="modal" data-bs-target="#kt_modal_create_project">View</a>
        <!--end::Action-->
    </div>
    <!--end::Wrapper-->
    <!--begin::Wrapper-->
    
    <!--end::Wrapper-->
    <!--begin::Wrapper-->
    <div class="d-flex align-items-center mb-6">
        <!--begin::Bullet-->
        <span data-kt-element="bullet" class="bullet bullet-vertical d-flex align-items-center min-h-70px mh-100 me-4 bg-info"></span>
        <!--end::Bullet-->
        <!--begin::Info-->
        <div class="flex-grow-1 me-5">
            <!--begin::Time-->
            <div class="text-gray-800 fw-semibold fs-2">16:30 - 17:00
            <span class="text-gray-400 fw-semibold fs-7">PM</span></div>
            <!--end::Time-->
            <!--begin::Description-->
            <div class="text-gray-700 fw-semibold fs-6">Marketing Campaign Discussion</div>
            <!--end::Description-->
            <!--begin::Link-->
            <div class="text-gray-400 fw-semibold fs-7">Lead by
            <!--begin::Name-->
            <a href="#" class="text-primary opacity-75-hover fw-semibold">Lead by Mark Morris</a>
            <!--end::Name--></div>
            <!--end::Link-->
        </div>
        <!--end::Info-->
        <!--begin::Action-->
        <a href="#" class="btn btn-sm btn-light" data-bs-toggle="modal" data-bs-target="#kt_modal_create_project">View</a>
        <!--end::Action-->
    </div>
    <!--end::Wrapper-->
</div>
{% endblock content %}

<script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>
<!--begin::Global Javascript Bundle(mandatory for all pages)-->
<script src="assets/plugins/global/plugins.bundle.js"></script>
<script src="assets/js/scripts.bundle.js"></script>

<script>
  // Function to display the selected file name
  // Attach event listener to update the file name display on file input change
  document.getElementById('file-input').addEventListener('change', displayFileName);
</script>
<script>

$(document).ready(function () {
    $(".month-link").on("click", function () {
      // Remove the active class from all month links
      $(".month-link").removeClass("active");

      // Add the active class to the clicked month link
      $(this).addClass("active");

      // Set the is_active property for the clicked month link
      $(".month-link").removeClass("active");
      $(this).addClass("active");
    });
  });
    
    // Function to load months
    
    // Function to load files

    

</script>