<!--
Define in dashboards/views.py file
context.update({
    'layout': KTTheme.setLayout('default.html', context),
})
-->
{% extends layout %}

{% load i18n %}

{% block title %}{% translate "Dashboard" %}{% endblock %}

{% block content %}

{% load static %}
<script>
    window.onload = function() {
        showTabContent('kt_app_header6');
    };
</script>

<!--begin::Row-->
<div class="row g-5 g-xl-10 mb-5 mb-xl-10"id="kt_app_page1" >
    <div class="col-md-12 col-lg-12 col-xl-12 col-xxl-12 " >
        <span>
            HNO Summary
    </div>

</div>
<div class="row g-5 g-xl-12 mb-5 mb-xl-12"id="kt_app_page6">
    <!--begin::Col-->
    <div class="col-md-8 col-lg-8 col-xl-8 col-xxl-8 " >
        <div class="row g-5 g-xl-12 mb-5 mb-xl-12 mb-xxl-12"id="kt_app_page1" >
            <div class="image-container">
              HNO map here
            </div>
        </div>    
    </div>
    <!--end::Col-->
    <!--begin::Col-->
    <div class="col-md-4 col-lg-4 col-xl-4 col-xxl-4 "  >
        <div>
            small maps 
        </div>
        
    </div>
    <!--end::Col-->
    <!--begin::Col-->
    
    <!--end::Col-->
</div>
<!--end::Row-->

<!--begin::Row-->

{% endblock content %}