<!--begin::sidebar menu-->
<div class="app-sidebar-menu overflow-hidden flex-column-fluid">
    <!--begin::Menu wrapper-->
    <div id="kt_app_sidebar_menu_wrapper" class="app-sidebar-wrapper hover-scroll-overlay-y my-2" data-kt-scroll="true" data-kt-scroll-activate="true" data-kt-scroll-height="auto" data-kt-scroll-dependencies="#kt_app_sidebar_logo, #kt_app_sidebar_footer" data-kt-scroll-wrappers="#kt_app_sidebar_menu" data-kt-scroll-offset="5px" data-kt-scroll-save-state="true">
        <!--begin::Menu-->
        <div class="menu menu-column menu-rounded menu-sub-indention px-3" id="#kt_app_sidebar_menu" data-kt-menu="true" data-kt-menu-expand="true">
            <!--begin:Menu item-->
            <div data-kt-menu-trigger="click" class="menu-item here show menu-accordion">
                <!--begin:Menu link-->
                <span class="menu-link">
                    <span class="menu-icon">{% getIcon 'element-11' 'fs-2' %}</span>
                    <span class="menu-title">Dashboard</span>
                </span>
			</div>
                <!--end:Menu link-->
                <!--begin:Menu sub-->
		</div>

		<div class="tab-content py-4 py-lg-8 px-lg-7 menu-sub-indention px-3">
			<!--begin:Tab pane-->
			<div class="tab-pane w-lg-600px " id="kt_app_header1">

				<span class="menu-link">
                    <span class="menu-icon">{% getIcon 'element-plus' 'fs-2' %}</span>
					
                    <span class="menu-title mx-3">
						<a href="{% url 'threews:upload' %}" > Upload data </a>
					</span>
                </span>

				<br>
				<br>

				<span class="menu-link">
                    <span class="menu-icon">{% getIcon 'file' 'fs-2' %}</span>
					<a href="#" >
                    <span class="menu-title  mx-3">My files</span>
					</a>
                </span>

				<br>
				<br>

				<span class="menu-link">
                    <span class="menu-icon">{% getIcon 'call' 'fs-2' %}</span>
					<a href="#" >
                    <span class="menu-title  mx-3">Check status</span>
					</a>
                </span>
			</div>

			<div class="tab-pane w-lg-600px" id="kt_app_header2">

				<span class="menu-link">
                    <span class="menu-icon">{% getIcon 'element-11' 'fs-2' %}</span>
					
                    <span class="menu-title mx-3">
						<a href="#" > H attribute 1</a>
					</span>
                </span>

				<br>
				<br>

				<span class="menu-link">
                    <span class="menu-icon">{% getIcon 'element-11' 'fs-2' %}</span>
					<a href="#" >
                    <span class="menu-title  mx-3">H attribute 2</span>
					</a>
                </span>

				<br>
				<br>

				<span class="menu-link">
                    <span class="menu-icon">{% getIcon 'element-11' 'fs-2' %}</span>
					<a href="#" >
                    <span class="menu-title  mx-3">H attribute 3</span>
					</a>
                </span>

			</div>

			<div class="tab-pane w-lg-600px" id="kt_app_header3">

				<span class="menu-link">
                    <span class="menu-icon">{% getIcon 'element-11' 'fs-2' %}</span>
					
                    <span class="menu-title mx-3">
						<a href="#" > FO attribute 1</a>
					</span>
                </span>

				<br>
				<br>

				<span class="menu-link">
                    <span class="menu-icon">{% getIcon 'element-11' 'fs-2' %}</span>
					<a href="#" >
                    <span class="menu-title  mx-3">FO attribute 2</span>
					</a>
                </span>

				<br>
				<br>

				<span class="menu-link">
                    <span class="menu-icon">{% getIcon 'element-11' 'fs-2' %}</span>
					<a href="#" >
                    <span class="menu-title  mx-3">FO attribute 3</span>
					</a>
                </span>

			</div>

			<div class="tab-pane w-lg-600px" id="kt_app_header4">
				<span class="menu-link">
                    <span class="menu-icon">{% getIcon 'element-11' 'fs-2' %}</span>
					
                    <span class="menu-title mx-3">
						<a href="#" > RA attribute 1</a>
					</span>
                </span>

				<br>
				<br>

				<span class="menu-link">
                    <span class="menu-icon">{% getIcon 'element-11' 'fs-2' %}</span>
					<a href="#" >
                    <span class="menu-title  mx-3">RA attribute 2</span>
					</a>
                </span>

				<br>
				<br>

				<span class="menu-link">
                    <span class="menu-icon">{% getIcon 'element-11' 'fs-2' %}</span>
					<a href="#" >
                    <span class="menu-title  mx-3">RA attribute 3</span>
					</a>
                </span>

			</div>
			<div class="tab-pane w-lg-600px" id="kt_app_header5">
				<span class="menu-link">
                    <span class="menu-icon">{% getIcon 'element-11' 'fs-2' %}</span>
					
                    <span class="menu-title mx-3">
						<a href="#" > GA attribute 1</a>
					</span>
                </span>

				<br>
				<br>

				<span class="menu-link">
                    <span class="menu-icon">{% getIcon 'element-11' 'fs-2' %}</span>
					<a href="#" >
                    <span class="menu-title  mx-3">GA attribute 2</span>
					</a>
                </span>

				<br>
				<br>

				<span class="menu-link">
                    <span class="menu-icon">{% getIcon 'element-11' 'fs-2' %}</span>
					<a href="#" >
                    <span class="menu-title  mx-3">GA attribute 3</span>
					</a>
                </span>
			</div>
			<div class="tab-pane w-lg-600px" id="kt_app_header6">
				<span class="menu-link">
                    <span class="menu-icon">{% getIcon 'element-11' 'fs-2' %}</span>
					
                    <span class="menu-title mx-3">
						<a href="#" > HNO attribute 1</a>
					</span>
                </span>

				<br>
				<br>

				<span class="menu-link">
                    <span class="menu-icon">{% getIcon 'element-11' 'fs-2' %}</span>
					<a href="#" >
                    <span class="menu-title  mx-3">HNO attribute 2</span>
					</a>
                </span>

				<br>
				<br>

				<span class="menu-link">
                    <span class="menu-icon">{% getIcon 'element-11' 'fs-2' %}</span>
					<a href="#" >
                    <span class="menu-title  mx-3">HNO attribute 3</span>
					</a>
                </span>

			</div>
			<div class="tab-pane w-lg-600px" id="kt_app_header7">
				<span class="menu-link">
                    <span class="menu-icon">{% getIcon 'element-11' 'fs-2' %}</span>
					
                    <span class="menu-title mx-3">
						<a href="#" > HRP attribute 1</a>
					</span>
                </span>

				<br>
				<br>

				<span class="menu-link">
                    <span class="menu-icon">{% getIcon 'element-11' 'fs-2' %}</span>
					<a href="#" >
                    <span class="menu-title  mx-3">HRP attribute 2</span>
					</a>
                </span>

				<br>
				<br>

				<span class="menu-link">
                    <span class="menu-icon">{% getIcon 'element-11' 'fs-2' %}</span>
					<a href="#" >
                    <span class="menu-title  mx-3">HRP attribute 3</span>
					</a>
                </span>
			</div>					<!--end:Tab pane-->
			
		</div>

            <!--end:Menu item-->
            <!--begin:Menu item-->
            <!--end:Menu item-->
        <!--end::Menu-->
    </div>
    <!--end::Menu wrapper-->
</div>
<!--end::sidebar menu-->
